name: YouTube Relay Pro Cookies

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Link YouTube'
        required: true
      kunci_rtmp:
        description: 'Stream Key YouTube'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tool
        run: |
          sudo apt update && sudo apt install ffmpeg -y
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Relay (Pakai Cookies)
        run: |
          # Ambil cookies dari Secret GitHub dan buat jadi file
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt

          # Ambil link video dengan identitas akun kamu
          VIDEO_URL=$(yt-dlp --cookies cookies.txt \
          --no-check-certificates \
          --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36" \
          -f "best[height<=720]" -g "${{ github.event.inputs.link_youtube }}")

          # Jika link didapat, langsung gas streaming
          if [ -z "$VIDEO_URL" ]; then
            echo "ERROR: Cookies tidak valid atau kadaluwarsa!"
            exit 1
          fi

          echo "Bypass Berhasil! Link didapatkan. Memulai Live..."
          
          ffmpeg -re -i "$VIDEO_URL" \
          -c:v libx264 -preset veryfast -b:v 2500k \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
