name: Live Relay YouTube Ultra Bypass

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Tempel Link YouTube'
        required: true
      kunci_rtmp:
        description: 'Stream Key YouTube'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tool Terbaru
        run: |
          sudo apt update
          sudo apt install ffmpeg -y
          # Pakai versi yt-dlp yang paling fresh (Master)
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Direct Bypass
        run: |
          # 1. Bersihkan ID Video
          INPUT="${{ github.event.inputs.link_youtube }}"
          VIDEO_ID=$(echo "$INPUT" | sed -E 's/.*(\/|v=)([a-zA-Z0-9_-]{11}).*/\2/' | cut -c1-11)
          echo "Target ID: $VIDEO_ID"

          # 2. Ambil Link Mentah dengan trik 'No-Check-Certificate' dan 'Mweb'
          # Teknik ini meniru browser HP jadul yang biasanya gak dicek ketat sama YouTube
          VIDEO_URL=$(yt-dlp --no-check-certificates \
          --geo-bypass \
          --extractor-args "youtube:player_client=mweb,android;player_skip=webpage_signature" \
          -f "best[height<=720]" -g "https://www.youtube.com/watch?v=$VIDEO_ID")

          # 3. Cek hasil dan jalankan FFmpeg
          if [ -z "$VIDEO_URL" ]; then
            echo "Bypass gagal. Menggunakan protokol darurat..."
            exit 1
          fi

          echo "Bypass Berhasil! Memulai Streaming..."
          
          ffmpeg -re -i "$VIDEO_URL" \
          -c:v libx264 -preset veryfast -b:v 2500k \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
